{% extends "layout.html" %}
{% block title %} homePage {% endblock %}
{% block content %}
<img src="https://media.giphy.com/media/OkJat1YNdoD3W/source.gif">
<p></p><p></p>
<h1>Welcome to The Academic College of Tel Aviv-Yaffo chat-App!!!</h1>
<h2 style="color:red;">This app will allow you to send a message and view it. </h2>
<h2 style="color:purple;"> <b>You can view our app's messages whenever you want! </b></h2>
<h3>If you would like to use our app, you need to follow these steps:</h3>
<h3><b>1. <a href="{{ url_for('sign_up') }}">Register </a> / <a href="{{ url_for('log_in') }}">Log in</a></b></h2>
<h3><b>2. Send a message </b></h3>
<h3>If you would like to read about <a href="https://www.int.mta.ac.il/the-student-union" target=_blank>
us</a> and our collaboration with the <a href="https://www.redhat.com/en" target=_blank>RedHat</a> team, you can click on this
<a href="https://www.facebook.com/141518342586502/posts/3159131667491806/" target=_blank>link</a>. </h3>
<h1>Have Fun!</h1>
{% endblock %}