<html>
<header>
    
    </header>
<body>
    <div class="container-fluid" style="min-height:100% width:80%">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close">Close</button>{{message}}
        </div>
        {% end for %}
        {% end if %}
        {% end with %}
    {% block body %}{% end block %}
    </div>
    </body>
</html>

